@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/roboto/Roboto-Black.ttf');
    src: url('./assets/font/roboto/Roboto-BlackItalic.ttf');
    src: url('./assets/font/roboto/Roboto-Bold.ttf');
    src: url('./assets/font/roboto/Roboto-BoldItalic.ttf');
    src: url('./assets/font/roboto/Roboto-Italic.ttf');
    src: url('./assets/font/roboto/Roboto-Light.ttf');
    src: url('./assets/font/roboto/Roboto-LightItalic.ttf');
    src: url('./assets/font/roboto/Roboto-Medium.ttf');
    src: url('./assets/font/roboto/Roboto-MediumItalic.ttf');
    src: url('./assets/font/roboto/Roboto-Regular.ttf');
    src: url('./assets/font/roboto/Roboto-Thin.ttf');
    src: url('./assets/font/roboto/Roboto-ThinItalic.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
  
}

body {
  
}

.button {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #fafafa;
    font-weight: bold;
    transition: .4s;
    background-color: #999999;
}